.button {
  font-size: 15px;
  width: 75%;
  background-color: var(--main-light-color);
  transition: transform 0.2s;
}

.contrastButton {
  font-size: 15px;
  width: 75%;
  background-color: var(--contrast-color);
  transition: transform 0.2s;
}

.button:hover {
  background-color: var(--main-dark-color);
  transform: scale(1.2);
}

.contrastButton:hover {
  transform: scale(1.2);
}

.button.active {
  background-color: var(--contrast-color);
}

ul {
  padding: 0;
  margin-top: 80px;
}

@media screen and (max-width: 950px) {
  .button {
    width: auto;
  }
  ul {
    margin: 0;
  }
}

.slideshow {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.description {
  max-width: 700px;
  margin: 5% auto;
  text-align: justify;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  .button {
    font-size: 13px;
  }
  .slideshow {
    width: 100%;
  }
}
