body {
  margin: 0 auto;
  width: 100%;
  font-family: "Muli, sans-serif";
  --main-dark-color: #4a4ebb;
  --main-light-color: #8b8ed0;
  --contrast-color: #ffc59b;
  --text-color: #494949;
  --headline-color: white;
  --sideHeadline-color: #d8d8d8;
  --border-color: rgb(180, 180, 180);
  --table-nth-color: #f2f2f2;
  --table-border: #ddd;
  --footer-background: rgb(63, 63, 63);
  --footer-text: black;
  color: var(--text-color);
}

p {
  color: var(--text-color);
  font: 17px play, sans-serif;
  line-height: 1.6;
  text-align: justify;
}

.mainContainer {
  max-width: 1100px;
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.carousel {
  overflow: hidden;
  margin-bottom: 20px;
}

.slideImages {
  max-height: 700px;
}

.info > p {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .mainContainer {
    width: 85%;
  }
  body {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 350px) {
  .mainContainer {
    width: 100%;
    padding: 30px 0;
  }
  body {
    padding-bottom: 60px;
  }
}

h1 {
  letter-spacing: 2px;
}

h2 {
  letter-spacing: 1px;
  color: var(--text-color);
  margin: "2%";
  text-align: left;
  font-family: Muli, sans-serif;
}

h3 {
  letter-spacing: 1px;
  color: var(--headline-color);
  margin: 0;
  text-align: left;
  font-family: Muli, sans-serif;
}
