.navButton {
  display: inline-block;
  margin: 0;
  width: 20%;
  text-align: center;
  padding: 10px 0;
  color: var(--headline-color);
  text-decoration: none;
  font: 17px Play, sans-serif;
  font-style: normal;
}

.navBar {
  background-color: var(--main-light-color);
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navBar > ul {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .navBar {
    display: none;
  }
}
