hr {
  height: 0.25rem;
  width: 20%;
  margin: 0;
  background: #ffc59b;
  border: none;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.one.active ~ hr {
  margin-left: 0%;
  visibility: initial;
}
.two.active ~ hr {
  margin-left: 20%;
  visibility: initial;
}
.three.active ~ hr {
  margin-left: 40%;
  visibility: initial;
}
.four.active ~ hr {
  margin-left: 60%;
  visibility: initial;
}
.five.active ~ hr {
  margin-left: 80%;
  visibility: initial;
}

.one:hover ~ hr {
  margin-left: 0% !important;
  visibility: initial;
}
.two:hover ~ hr {
  margin-left: 20% !important;
  visibility: initial;
}
.three:hover ~ hr {
  margin-left: 40% !important;
  visibility: initial;
}
.four:hover ~ hr {
  margin-left: 60% !important;
  visibility: initial;
}
.five:hover ~ hr {
  margin-left: 80% !important;
  visibility: initial;
}

link,
link:active,
link:focus {
  outline: none;
}
