.link {
  text-decoration: none;
}

.wrapper {
  text-decoration: none;
  margin: 25px 5px;
  border-bottom: 1px solid var(--border-color);
}

.auth > h3 {
  color: var(--main-dark-color);
  font-size: 18px;
}

.link:hover {
  text-decoration: underline;
}

.date {
  font-size: 8px;
}
